<!DOCTYPE html>
<html>
    <head>
        <title>PhotoShare</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link rel = "stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
  </head>
    
    <body>
    
    <div id="landing-header">
 		<h1>Welcome to PhotoShare!<i class="mobile phone outline icon"></i></h1>
		<a href="/photos" class="btn btn-lg btn-success">View All JACK'S Photos</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>